.hamburger_lines {
  /* display: block; */
  height: 26px;
  width: 32px;
  position: absolute;
  top: 11px;
  right: 20px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hamburger_lines {
    right: 15px;
  }
}

.line1 {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #000;
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.line2 {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #000;
  transition: transform 0.2s ease-in-out;
}

.line3 {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 10px;
  background: #000;
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.line1.checked {
  transform: rotate(45deg);
}

.line2.checked {
  transform: scaleY(0);
}
.line3.checked {
  transform: rotate(-45deg);
}
